@font-face {
  font-family: runescapeFont;
  font-display: auto;
  src: url("RuneScape-Chat-07.ttf");
  font-style: normal;
}

@font-face {
  font-family: Passion One;
  font-display: auto;
  src: url("PassionOne-Regular.ttf");
  font-style: normal;
}
