body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background-color: #ffffff;
  margin: 0;
}

.btn {
  background-color: #004d66 !important;
  border: 2px solid #2ebeb1 !important;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(25, 74, 94, 0.2);
}

img {
  display: block;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

/* Small devices (vertical phones, 576px and down) */
@media screen and (max-width: 575.98px) {
  .wrapper {
    width: 90vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    width: 90vw;
  }
}

/* Medium devices (tablets, 768px and up */
@media (min-width: 768px) {
  .wrapper {
    width: 90vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    width: 80vw;
  }
}

/* Extra large devices (large desktops, 1200px and up)) */
@media (min-width: 1200px) {
  .wrapper {
    width: 70vw;
  }
}